body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    padding: 0 1rem;
}

.content {
    min-height: calc(100vh - 64px - 70px);
    padding: 3rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 500px 500px;*/
    grid-gap: 30px;
    padding: 1rem;
}

.astyle {
    width: 100%;
    height: 60px;
    font-size: 24px;
}


.wrapper_filter {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    /* Свои стили */
}

.wrapper_filter:after {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    vertical-align: top;
    content: '';
}

.wrapper_filter > label {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 50px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
    /* Свои стили */
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}

.basket-list {
    font-size: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: aliceblue;
    width: 50rem;
    max-width: 95%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    animation: show 500ms ease-in-out;
}

@media (min-width: 767px) {
    .cart {
        top: 5rem;
        bottom: unset;
    }
}

.basket-item-close {
    cursor: pointer;
    color: darksalmon;
}
.basket-close {
    cursor: pointer;
    color: black;
}

.basket-add-remove {
    cursor: pointer;
    color: crimson;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}